body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vessel-info-section .col-5{
  font-weight: bold;
}

.pagination .btn{
  border-radius: 5px;
  margin: 2px 5px;
}

.btn{
  font-weight: 400 !important;
}

.favourited .la-star{
  color:white;
}

.vs-favourite-icon{
  font-size: 20px;
  color: #ff5c75;
}

.notification-uncheck-num{
    position: relative;
    top: -8px;
    left: -8px;
    font-style: normal;
}

.popup-list-footer{
  font-size: 1em;
}

.card-notification .card-body .card-container-wrapper{
  width: auto !important;
  overflow-y: scroll !important;
}

.list-clear-btn{
  background: none;
  padding: 0px;
  text-decoration: underline;
}

.request-verfication-btn{
  float: right;
}

